!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %title Titel
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href="/favicon.ico" shortcut="shortcut icon")
    %link(href="stylesheets/screen.css" rel="stylesheet")
  %body
    
    #main(role="main")
    
    %script(src="javascripts/vendor/jquery.min.js")
    %script(src="javascripts/sound.js")
    %script(src="javascripts/woo-scale.js")
    %script(src="javascripts/board.js")
    %script(src="javascripts/ball.js")
    %script(src="javascripts/game.js")
    %script(src="javascripts/application.js")

    %canvas#canvas